<div class="navbar-backdrop hidden"></div>
<nav class="navbar hidden">
    <div class="navbar-header">
        <h1>TPW Scouting App</h1>
        <button class="navbar-close-btn"></button>
    </div>
    <a data-page="home" href="#/">Home</a>
    <a data-page="scan-data" href="#/scan-data">Upload Data</a>
    <a data-page="view-data" href="#/view-data">View Data/Analysis</a>
    <a data-page="compare-teams" href="#/compare-teams">Compare Teams</a>
    <a data-page="predict-outcomes" href="#/predict-outcomes">Predict Outcomes</a>
    <a data-page="leaderboard" href="#/leaderboard">Leaderboard</a>
    <a data-page="shop" href="#/shop">Shop</a>
    <a data-page="log-out" href="/scouting/logout">Log Out</a>
</nav>
<header>
    <button class="nav-left navbar-open-btn"></button>
    <div class="nav-middle reg-nav account-info">
        <p class="large reg-nav">{{shorten username 10}}</p>
        <p class="small team-number">{{team}}</p>
    </div>
    <div class="nav-right reg-nav header-incentives">
      <div class="currency">
        <div class="nuts">
          <p>{{ incentives.nuts }}</p>
          <img src="/img/nuts.png" />
        </div>
        <div class="bolts">
          <p>{{ incentives.bolts }}</p>
          <img src="/img/bolts.png" />
        </div>
      </div>
      <div class="xp">
        <p>{{ incentives.level }}</p>
        <div class="xp-container">
          <div class="xp-filled" style="width: {{ percent incentives.progress }};"></div>
        </div>
      </div>
    </div>
    <div class="none nav-middle match-nav match-info">
        <p class="large match-period">Scout</p>
        <p id="scout-number" class="small team-number">{{team}}</p>
    </div>
    <div class="none nav-right match-nav">
        <div id="submit-button" class="icon-button">
            <div class="send-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                </svg>
            </div>
            <p>Submit</p>
        </div>
        <div class="none icon-button" id="back-button">
            <div class="send-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z"/>
                </svg>
            </div>
            <p>Back</p>
        </div>
    </div>
</header>

<script defer>
    const navbar = document.querySelector(".navbar");
    const backdrop = document.querySelector(".navbar-backdrop");
    window.readerForNav = {
      stop: () => {}
    };

    function openNavbar() {
        navbar.classList.remove("hidden");
        backdrop.classList.remove("hidden");
        setTimeout(() => {
            navbar.classList.add("open");
            backdrop.classList.add("open");
        }, 0);
    }

    function closeNavbar() {
        navbar.classList.remove("open");
        backdrop.classList.remove("open");
        setTimeout(() => {
            navbar.classList.add("hidden");
            backdrop.classList.add("hidden");
        }, 250);
    }

    document.querySelector(".navbar-open-btn").onclick = openNavbar;
    document.querySelector(".navbar-close-btn").onclick = closeNavbar;
    backdrop.onclick = closeNavbar;

    document.querySelector(".navbar a[data-page='home']").onclick =
        async (e) => {
          e.preventDefault();
          if(!["#/scan-data", "#/view-data", "#/compare-teams", "#/predict-outcomes", "#/leaderboard", "#/admin"].includes(window.location.hash)) {
              try {
                  updatePage();
              } catch(err) {

              }
              // window.location.reload();
          } else {
              window.location.hash = "#/";
              // await sdk.showHomePage();
          }
        };
    document.querySelector(".navbar a[data-page='scan-data']").onclick =
        async (e) => {
          e.preventDefault();
          if(window.location.hash == "#/scan-data") {
              try {
                  updatePage();
              } catch(err) {

              }
              // window.location.reload();
          } else {
              window.location.hash = "#/scan-data";
              // window.readerForNav = await sdk.showScannerPage();
          }
        };
    document.querySelector(".navbar a[data-page='view-data']").onclick =
        async (e) => {
          e.preventDefault();
          if(window.location.hash == "#/view-data") {
              try {
                  updatePage();
              } catch(err) {

              }
              // window.location.reload();
          } else {
            window.location.hash = "#/view-data";
            // await sdk.showDataPage();
          }
        };
    document.querySelector(".navbar a[data-page='compare-teams']").onclick =
        async (e) => {
          e.preventDefault();
          if(window.location.hash == "#/compare-teams") {
              try {
                  updatePage();
              } catch(err) {

              }
              // window.location.reload();
          }
          window.location.hash = "#/compare-teams";
          // await sdk.showComparePage();
        };
    document.querySelector(".navbar a[data-page='predict-outcomes']").onclick =
        async (e) => {
          e.preventDefault();
          if(window.location.hash == "#/predict-outcomes") {
              try {
                  updatePage();
              } catch(err) {

              }
              // window.location.reload();
          }
          window.location.hash = "#/predict-outcomes";
          // await sdk.showPredictPage();
        };
    document.querySelector(".navbar a[data-page='leaderboard']").onclick =
        async (e) => {
          e.preventDefault();
          if(window.location.hash == "#/leaderboard") {
              try {
                  updatePage();
              } catch(err) {

              }
          }
          window.location.hash = "#/leaderboard";
        };
    document.querySelector(".navbar a[data-page='shop']").onclick =
        async (e) => {
          e.preventDefault();
          if(window.location.hash == "#/shop") {
              try {
                  updatePage();
              } catch(err) {

              }
          }
          window.location.hash = "#/shop";
        };
    document.querySelector(".navbar a[data-page='log-out']").onclick =
        async (e) => {
          e.preventDefault();
          window.location.href = "/scouting/logout";
        };

    document.querySelectorAll(".navbar a").forEach((a) => {
        a.addEventListener("click", async () => {
            if (window.readerForNav) {
                try {
                    await window.readerForNav.stop();
                } catch (err) {}
            }

            document.querySelector(".navbar a.active").classList.remove("active");
            a.classList.add("active");
            
            closeNavbar();
        });
    });
</script>